<html>
  <head></head>
  <body>
    <h1>Add a new artist</h1>
      <form action='/artists/new' method='POST'>
        <input type='text' placeholder='name' name='name'>
        <input type='text' placeholder='genre' name='genre'>
        <input type='submit' value='add new artist!'>
      </form>
  </body>
</html>