<html>
  <head></head>
  <body>
    <h1>Add a new album</h1>
      <form action='/albums/new' method='POST'>
        <input type='text' placeholder='title' name='title'>
        <input type='text' placeholder='release year' name='release_year'>
        <input type='text' placeholder='artist id' name='artist_id'>
        <input type='submit' value='add new album!'>
      </form>
  </body>
</html>